# 第10章　Pandas: 経済データ分析I（1/2）

## はじめに

In [ ]:
# %pip install -q japanize-matplotlib py4macro

In [1]:
import japanize_matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import py4macro

* Pandas（「パンダズ」と読む）は外部ライブラリである。
* 慣例として`pd`としてインポートする。

## データフレームとシリーズの基本

### データフレームとシリーズについて

* エクセルのスプレッド・シートに対応するDataFrame（データ・フレーム）
* スプレッド・シートの1行もしくは1列に相当するSeries（シリーズ）

**教科書の図10.1**

行と列には，その位置を示す番号とラベルがある。
* 位置を示す番号をインデックスもしくはインデックス番号と呼ぶ。
    * 左端の`0`、`1`、`2`は行インデックス
    * 列`X`のインデックスは`0`，列`Y`のインデックスは$1$，列`Z`のインデックスは$2$
* 位置をラベルで表すこともできる。
    * `X`，`Y`，`Z`が列ラベル
    * 行ラベルは設定されていない

### データの読み込み

コード10.2.1

In [3]:
df1 = pd.read_csv("data1.csv")
df1

   year       gdp  consumption
0  2018  554766.5     302625.8
1  2019  552535.4     300738.3
2  2020  529501.5     287377.6
3  2021  543779.9     289492.7
4  2022  548863.4     295503.4
5  2023  556487.4     297984.5
6  2024  557434.1     297844.4

* `year`：暦年
* `gdp`：国内総生産（10億円，実質，2015暦年連鎖価格）
* `consumption`：消費（10億円，実質，2015暦年連鎖価格）

### データの基本的な操作

コード10.2.2：（行の数, 列の数）

In [11]:
df1.shape     # 戻り値はタプル

(7, 4)

コード10.2.3：**シリーズ**として抽出

In [5]:
df1["gdp"]

0    554766.5
1    552535.4
2    529501.5
3    543779.9
4    548863.4
5    556487.4
6    557434.1
Name: gdp, dtype: float64

コード10.2.4：**データフレーム**として抽出

In [7]:
df1[["gdp"]]

        gdp
0  554766.5
1  552535.4
2  529501.5
3  543779.9
4  548863.4
5  556487.4
6  557434.1

コード10.2.5

In [ ]:
df1[["year", "gdp"]]

### ベクトル化演算

コード10.2.6：自然対数化

In [8]:
np.log( df1["gdp"] )

0    13.226303
1    13.222273
2    13.179691
3    13.206300
4    13.215605
5    13.229400
6    13.231100
Name: gdp, dtype: float64

コード10.2.7：消費の対GDP比

In [9]:
df1["consumption"] / df1["gdp"]

0    0.545501
1    0.544288
2    0.542732
3    0.532371
4    0.538392
5    0.535474
6    0.534313
dtype: float64

### 列の追加

コード10.2.8

In [10]:
df1["con/gdp"] = df1["consumption"] / df1["gdp"]